<div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card card-body bg-light mt-5 rounded shadow">
        <h2 class="text-primary">Fill up the questionnaire</h2>
        <hr class="mb-2 mt-2">
        <form id="questionnaire-form">
          <div id="questionnaire">
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger cancel float-right">Cancel</button>
          </div>
        </form>
        </div>
    </div>
</div>