<div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card card-body bg-light mt-5">
        <h2 class="text-primary">Fill up the questionnaire</h2>
        <p class="text-muted">Question ending with * are compulsory</p>
        <hr class="mb-2 mt-2">
        <form id="questionnaire-form">
          <div id="questionnaire">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger cancel">Cancel</button>
        </form>
        </div>
    </div>
</div>